.collection{

    margin-top: 60px;

    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white-color;
        margin: 18px 0px;
        padding: 10px 18px;
        border-radius: 12px;
        transition: .3s;
    }
    &__box:hover{
        transform: translateY(-10px);
    }
    &__img{
        width: 100px !important;
    }
    &__title{
        font-size: $big-font-size;
        font-weight: $font-medium;
        line-height: 1.2;
        letter-spacing: 1px;
        color: $first-color;
        text-transform: uppercase;
    }
    &__subtitle{
        font-size: $biggest-font-size;
        color: $black-color;
    }
    &__link{
        display: flex;
        align-items: center;
        color: $primary;
        font-size: $normal-font-size;
        font-weight: $font-bold;
        transition: .3s;
    }
    &__link:hover{
        color: $first-color;
        transition: .3s;
    }
    &__name{
        margin-right: 10px;
    }
    

    &__link:hover &__icon{
        margin-left: 10px;
    }

}

@media screen and (min-width:968px) {
    .collection{
        display: flex;
        justify-content: center ;
        align-items: center;

        &__box{
            margin: 20px;
            width: 40%;
            padding: 20px;

        }
        &__img{
            width: 300px;
        }
    }    
}