.featured{
    &__title{
        color: $black-color;
        font-size: $biggest-font-size;
        font-weight: $font-bold;
        text-transform: uppercase;
        // letter-spacing: 3px;
    }
    &__box{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white-color;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        transition: .3s;
    }
    &__box:hover{
        transform: translateY(-10px);
    }
    &__offre{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 10px;
        right: 10px;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        background-color: $first-color;
        color: $white-color;
    }
    @media screen and (max-width:968px) {
        &__img{
            width: 200px !important;
            margin: 30px 0px;
        }
    }

    &__img{
        // margin: 10px 0px;
    }
    
    &__name{
        font-size: $big-font-size;
        font-weight: $font-bold;
        text-transform: capitalize;
        color: $first-color;
        margin-bottom: 10px;
    }
    &__price{
        margin: 10px 0;
        font-size: $big-font-size;
        font-weight: $font-bold;        
    }
    &__link{
        display: flex;
        align-items: center;
        font-size: $normal-font-size;
        font-weight: $font-medium;
        color: $primary;
        margin-bottom: 10px;
        transition: .3s;
    }
    &__link:hover{
        color: $first-color;
    }
    &__link:hover &__icon{
        margin-left: 10px;

    }
    &__name__link{
        margin-right: 10px;
    }

}