//height
$head-height: 70px;
$sidebar-width: 210px;
$sidebar-min-width:68px;

$header-height: 100px;


/*========== Colors ==========*/
$first-color: #6923D0;
$first-color-light: #F4F0FA;
$title-color: #19181B;
$text-color: #58555E;
$text-color-light: #A5A1AA;
$body-color: #F6F9FC;
$bg-color: #FFFFFF;

$primary: #A29596;
$second-color: #33303D;
$white-color:#fff;
$black-color: #111111;
$grey-color: #F0F1F3;

/*========== Font and typography ==========*/
$body-font: 'Poppins', sans-serif;
$biggest-font-size: 2rem;
$big-font-size: 1.7rem;
$medium-font-size: 1.3rem;
$title-font-size: 1rem;
$normal-font-size: .938rem;
$smaller-font-size: .85rem;


/*========== Font weight ==========*/
$font-small: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
/*========== z index ==========*/
$z-fixed: 100;


/*========== shadow =========*/
$box-shadow:  0 0.75rem 1.5rem rgba(18,38,63,.03);