.pagination-rounded{
    border-radius: 100% !important;
    margin: 10px;
    color: $text-color !important;
}
.active{
    background-color: $first-color !important;
    color: $white-color !important;
}