.offer{
    background-color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &__data{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    &__title{
        font-size: $biggest-font-size;
        font-weight: $font-bold;
        color: $first-color;
        letter-spacing: 1px;
        line-height: 2;
    }
    &__description{
        font-size: $normal-font-size !important;
        font-weight: $font-bold;
        text-transform: uppercase;
        color: $text-color;
    }
    &__link{
        padding: 12px 24px;
        margin: 12px 0px;
        background-color: $first-color;
        border-radius: 5px;
        color: $white-color;
        text-transform: uppercase;
        font-weight: $font-medium;
        letter-spacing: 2px;
        transition: .3s;

    }
    &__link:hover{
        background-color: $text-color;
        color: $white-color;
        transition: .3s;
    }
    &__img{
        width: 150px !important;
    }
}

@media screen and (min-width:968px) {
    .offer{
        &__data{
            width: 40%;
        }
        &__title{
            font-size: 3rem;
        }
        &__description{
            font-size: $big-font-size !important;
            letter-spacing: 2px;
        }
        &__img{
            width: 350px !important;
        }
    }    
}