.main{
    // position: relative;
    // background-color: $body-color;

}
.main__card{
    min-height: calc(100vh - #{$header-height});
}

.gallery{
    &__main__img{
        width: 100% !important;
        height: auto;
    }
    &__small__img{
        flex-basis: 24%;
        cursor: pointer;
        border: 1px solid #ddd;
        opacity: .8;
    }
}

.data{
    display: flex;
    flex-direction: column;
     &__subtitle{
        color: $primary;
        font-size: $normal-font-size;
     }
     &__title{
        color: $first-color;
        font-size: $biggest-font-size;
        font-weight: $font-bold;
     }
     &__description{
         font-size: $normal-font-size;
         font-weight: $font-medium;
         color: $text-color;
     }
}
.price{
    font-size: $medium-font-size;
    font-weight: $font-bold;
    line-height: 30px;
    letter-spacing: 1px;

    &__new{
        color: $black-color;
        margin-right: 18px;
    }
    &__old{
        font-size: $big-font-size;
        font-weight: $font-medium;
        color: $primary;
    }
}
.action{
    @media screen and (max-width:968px) {
        // position: sticky;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // min-width: 100%;
        // height: 83px;
        // background-color: $white-color;
    }
    
    &__addToCart{
        padding: 10px 30px;
        background-color: $first-color;
        font-weight: $font-bold;
        color: $white-color;
        border-radius: 8px;
    }
    &__addToCart:hover{
        background-color: $text-color;
        color: $white-color;
    }
}
.size{
    padding-bottom: 30px;
    &__title{
        font-size: $medium-font-size;
        font-weight: $font-bold;
        letter-spacing: 1px;
        color: $black-color;
    }
    &__tallas{
        width: 30px;
        height: 30px;
        padding: 10px;
        margin-right: 22px;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        cursor: pointer;
    }
    &__tallas.active{
        background-color: $first-color;
        color: $white-color;
    }
}
.color{
    &__title{
        font-size: $big-font-size;
        font-weight: $font-bold;
        color: $black-color;
    }
    &__item{
        width: 30px;
        height: 30px;
        padding: 10px;
        margin-right: 22px;
        text-align: center;
        line-height: 30px;
        border-radius: 8px;
        cursor: pointer;
        background-color: $first-color;
        color: $white-color;
    }
}
.specification{
    &__lg{
        display: none;
    }
    &__title{
        font-size: $medium-font-size;
        font-weight: $font-bold;
        letter-spacing: 1px;
        padding-bottom: 8px;
    }
    &__description{
        font-size: $normal-font-size;
        color: $text-color;
    }
}

//Queris
@media screen and (min-width:968px) {
    .gallery{
        width: 350px !important;
        &__main__img{
            height: 350px !important;
        }
    }
    .action{
        padding-top: 30px;
    }
    .size{
        padding-bottom: 10px;
    }
    .specification{
        display: none;
        &__lg{
            display: block;
        }
    }
}

img {
    pointer-events: none;
}