.footer{
    position: fixed;
    //display: table-footer-group;
    margin-bottom: 0;
    //float:inline-end;
    //line-height: normal;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $white-gray-color;
    padding: 18px 5px;
    overflow: hidden ;
    text-align: center;
    &__title{
        font-size: $big-font-size;
        font-weight: $font-medium;
        color: $white-color;
        text-transform: uppercase;
    }
    &__menu{
        padding: 10px;
    }
    &__list{
        padding: 5px 0px;
    }
    &__link{
        font-size: $normal-font-size;
        font-weight: $font-medium;
        color:$text-color-light;
        letter-spacing: 2px;
    }
    &__link:hover{
        color:$first-color;
    }
}