ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,p{
    margin: 0;  
}
.first-color{
    color: $first-color !important;
}
.bg-grey{
    background-color: $text-color-light !important;
}
.bg-primary{
    background-color: $first-color !important;
}
body{
    background-color: $body-color !important;
    overflow-x: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
    //height:100vh;
    //display:flex; 
    //flex-direction:column; 
}

#page__topbar{
    margin-top: $header-height;
    margin-bottom: 100px;
   
}