.sidebar{
    position: fixed;
    top: $head-height;
    left: - $sidebar-width;
    height: 100vh;
    background-color: $bg-color;
    width: $sidebar-width;
    transition: .3s;
    z-index: $z-fixed;


    &__container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: auto;
        scrollbar-width: none; /* For mozilla */
    }

    &__container::-webkit-scrollbar {
        display: none;
    }

    &__list{
        margin: 18px 0px 0px 18px;
    }
    &__items{
        margin: 18px 0px 18px 0px;
    }

    &__subtitle{
        font-size: $normal-font-size;
        color: $text-color-light;
        margin-bottom: 10px;
        margin-top: 10px;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }

    &__links{
        display: flex;
        align-items: center;
        color: $text-color;
        margin:24px 3px 24px 3px;
        transition: .5s;
    }

    &__links:hover{
        color: $first-color;
    }
    &__icon{
        font-size: 1.3rem;
        margin-right: 8px;
    }
    &__name{
        font-size: $normal-font-size;
        font-weight: $font-medium;
        white-space: nowrap;
        text-transform: capitalize;
        letter-spacing: 1.5px;
    }

    &__dropdown-icon{
        margin-left: auto;
    }

    &__dropdown__collapse{
        display: none;
        transition: .8s !important;
    }

    &__dropdown__content{
        display: flex;
        flex-direction: column;
        padding-left: 32px;
    }
    &__dropdown__links{
        color: $text-color;
        text-transform: capitalize;
        font-size: $normal-font-size;
        font-weight: $font-small;
        letter-spacing: .5px;
        padding-bottom: 10px;
    }    
}
.show__sidebar{
    left: 0 !important;
}

.show__dropdown{
    display: block;
}

//media queris
@media screen and (min-width:968px) {
    .show__sidebar{
        width: $sidebar-width !important;
        transition: .6s ease;
    }
    .show__sidebar .sidebar__subtitle {
        opacity: 1;
    }
    .show__sidebar .sidebar__name {
        opacity: 1;
    }
    .show__sidebar .sidebar__dropdown__icon {
        opacity: 1;
        margin-left: auto;
    }
    .sidebar{
        left:0;
        width: $sidebar-min-width;
    
        &__subtitle{
            opacity: 0;
        }
        &__icon{
            font-size: $big-font-size;
        }
        &__name{
            opacity: 0;
        }
        &__dropdown__icon{
            opacity: 0;
        }
        &__dropdown__collapse{
            opacity: 0;
        }
    }
    .sidebar:hover{
        width: $sidebar-width;
        font-size: 1.3rem;
    }
    .sidebar:hover .sidebar__subtitle{
        opacity: 1;
    }
    .sidebar:hover .sidebar__icon{
        opacity: 1;
    }
    .sidebar:hover .sidebar__name{
        opacity: 1;
    }
    .sidebar:hover .sidebar__dropdown__icon{
        opacity: 1;
        margin-left: auto;
    }
    .sidebar:hover .sidebar__dropdown__collapse{
        opacity: 1;
    }
    

}